[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "ImGuiColorTextEdit"]
	path = ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "cpptoml"]
	path = cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "zinny"]
	path = zinny
	url = https://www.github.com/ToxicTrigger/zinny.git
